<!DOCTYPE html>
<html>
<head>
  <title>Minurl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav' %>

  <main role="main">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <p class="alert"><%= alert %></p>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-success" %>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%= render 'layouts/footer' %>

</body>
</html>
